
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Pagina inicial do sistema</h2>
<br />
<h5>Escolha a opção desejada:</h5>

<a href="/Cliente/Cadastro" class="btn btn-outline-primary">
    Cadastrar Clientes
</a>
<br />
<br />
<a href="/Cliente/Consulta" class="btn btn-outline-primary">
    Consultar Clientes
</a>
<br />
<br />
<a href="/Cliente/Tecnologia" class="btn btn-outline-primary">
    Desenvolvimento
</a>

