@{
    ViewBag.Title = "Tecnologia";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Informações das tecnologias empregada</h4>
<a href="/Home/Index" class="btn btn-outline-info">
    Voltar para a página inicial
</a>
<br />
<br />

<table border="0">
    <tr>
        <td style="width:500px">
            <!-- campo oculto -->
            <img src="~/Imagens/MVC.png" border="0" />
            <br />
            <br />
            <p>
                <b>Autor: </b>
                Rodrigo de Andrade  Barcellos Pires
                <br />
                <b>Email: </b>
                rbarcellos84@gmail.com
            </p>
        </td>
        <td>
            <p>
                Tecnologia que implementa o padrão MVC em Asp.NET, consolidada e baseada no padrão Model, View e Controller. É considerado um dos padrões mais utilizados para desenvolvimento web.
            </p>
            <p>
                Camadas MVC utilizada no Web ASP.NET Framework
            </p>
            <h6><b>Presentation Layer (PL)</b></h6>

            <i>
                Camada de apresentação
            </i>
            <p>
                Parte do sistema responsável pela comunicação como usuário final, entrada e saída de dados, frontend, etc...
            </p>

            <h6><b>Business Layer (BLL)</b></h6>
            <i>
                Camada de regras de negócio
            </i>
            <p>
                Parte do sistema responsável pela implementação das regras de negócio da aplicação, entregando para a camada de apresentação estas operações ja implementadas.
            </p>

            <h6><b>Data Layer (DAL)</b></h6>
            <i>
                Camada de acesso a banco de dados
            </i>
            <p>
                Parte do sistema responsável pela conexão, transações e consultas a bases de dados (InfraEstrutura da aplicação).
            </p>
        </td>
    </tr>
</table>   
<br />

